body {
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
}

.badge,
.update-btn {
    float: right;
    text-transform: uppercase;
}

.update h5 {
    line-height: 38px;
}

.update-btn:hover {
    cursor: pointer;
}